html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(232, 232, 232);
  color: #333;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4caf50;
  color: #fff;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
}

nav .nav-list,
nav .nav-list1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav .nav-list1 {
  margin-right: auto;
}

nav .nav-list1 li {
  display: flex;
  align-items: center;
}

nav .nav-list1 i {
  margin-right: 8px;
}

nav .nav-list1 p {
  margin: 0;
  color: white;
  font-size: 18px;
}

nav .nav-list {
  margin-left: auto;
}

nav .nav-list li {
  margin-left: 0;
}

nav .nav-list a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.3s;
}

nav .nav-list a:hover {
  background-color: #45a049;
}

footer {
  background-color: #4caf50;
  color: #fff;
  font-size: 8px;
  padding: 1px 0;
  text-align: center;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
}

footer .container {
  width: 90%;
  margin: 0;
}

footer .container p {
  margin: 0;
  padding: 0.3%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 25%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #4caf50;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}

.popup p {
  margin: 0 0 20px 0;
}

.popup button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button:hover {
  background-color: #45a049;
}
