<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Plant Disease Recognition</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='about.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav-list1">
            <li>
              <i class="fa fa-leaf"></i>
              <p>Tomato Leaf Diagnostic</p>
            </li>
          </ul>
          <ul class="nav-list">
            <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li>
              <a href="{{ url_for('contact') }}" class="nav-link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="abouts">
        <h3>About Tomato Plant Disease Recognition</h3>
        <p>
          The Tomato Plant Disease Recognition project is designed to empower
          farmers and gardeners by offering a fast and precise solution for
          identifying diseases affecting their tomato plants. This initiative
          leverages cutting-edge machine learning technologies to analyze images
          of tomato leaves, providing users with accurate diagnoses and
          actionable insights. By incorporating advanced algorithms and a robust
          dataset of plant images, the system can detect a wide range of
          diseases with high accuracy. Once an image of a tomato plant is
          uploaded, the system utilizes convolutional neural networks (CNNs) to
          scrutinize the visual patterns in the image. These deep learning
          models have been trained on extensive datasets that include various
          disease types and symptoms, allowing them to identify even subtle
          signs of illness. The analysis is completed in a matter of seconds,
          offering users a rapid diagnosis that helps them take immediate
          action.
        </p>
        <div class="image-grid-container">
          <h5>Major types of Diseases</h5>
          <div class="image-grid">
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/Alternaria solani.jpg') }}"
                alt="Alternaria solani"
              />
              <p>Alternaria solani</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/Bacterial Canker.jpg') }}"
                alt="Bacterial Canker"
              />
              <p>Bacterial Canker</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/Bacterial_spot.jpg') }}"
                alt="Bacterial spot"
              />
              <p>Bacterial spot</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/EarlyBlight.JPG') }}"
                alt="EarlyBlight"
              />
              <p>EarlyBlight</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/gray spot.jpg') }}"
                alt="Gray spot"
              />
              <p>Gray Spot</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/leaf curl.jpg') }}"
                alt="Leaf curl"
              />
              <p>Leaf Curl</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/tomato powdery mildew.jpg') }}"
                alt="powdery mildew"
              />
              <p>Powdery Mildew</p>
            </div>
            <div class="image-item">
              <img
                src="{{ url_for('static', filename='images/YellowCurl.jpg') }}"
                alt="YellowCurl"
              />
              <p>Yellow Curl</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2024 Plant Disease Recognition. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
